---
import BaseLayout from "@/layouts/BaseLayout.astro";
import "@/styles/global.css";
const pageTitle = "Sobre mi";

const identity = {
	firsName: "Kaisher",
	country: "Lima-Perú",
	ocupation: "Web Development",
	hobbies: ["fotografía", "viajes", "fútbol"],
};

const skills = [
	"HTML",
	"CSS",
	"JavaScript",
	"React",
	"Astro",
	"Redacción de documentos",
];

const happy = true;
const finished = false;
const goal = 3;
---

<BaseLayout pageTitle={pageTitle}>
  <div class="lg:flex">
  <img src="https://images.unsplash.com/photo-1546146830-2cca9512c68e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mjd8fGRldmVsb3BlcnxlbnwwfHwwfHx8MA%3D%3D" alt="" class="lg:w-[50%] mt-2 rounded-lg">
  <section class="p-5">
	<h2 class=" font-extrabold text-2xl mb-2">
		I am professional <span class="text-pink-500">in Computer Science</span> 
	</h2>
  <p>Mi nombre es <span class=" font-semibold">{identity.firsName},</span> vivo en {identity.country}
    y trabajo como {identity.ocupation}. Me gusta construir aplicaciones y sitios web atractivos.</p>
	<ul>
		{
			identity.hobbies.length > 2 && (
				<li>
					Dos de mis aficiones son: <a href="/" class="font-medium">{identity.hobbies[0]}</a> y <a href="/" class="font-medium">{identity.hobbies[1]}</a>
				</li>
			)
		}
	</ul>
	<h3 class=" font-semibold text-lg mt-2">Mis habilidades son:</h3>
	<ul class="flex flex-wrap gap-2 mt-2">
		{skills.map((skill) => <li class=" rounded-lg p-2 bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 text-white font-semibold mb-1">{skill}</li>)}
	</ul>
  </section>
  </div>
</BaseLayout>
